<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <!-- http://stackoverflow.com/questions/26410951/oracle-manageddataaccess-and-ora-01017-invalid-username-password-logon-denied -->
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
    <connectionStrings>
        <add name="PSUPKTProvider.Properties.Settings.ConnectionString"
            connectionString="Data Source=REGIST2005_NEW;Persist Security Info=True;User ID=rnontapon;Password=huiop087;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://passport.phuket.psu.ac.th/authentication/authentication.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationSoap"
                contract="PSUPKTPassportService.AuthenticationSoap" name="AuthenticationSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PSUPKTProvider.Properties.Settings>
            <setting name="PSUPKTProvider_th_ac_psu_passport_Authentication"
                serializeAs="String">
                <value>https://passport.psu.ac.th/authentication/authentication.asmx</value>
            </setting>
        </PSUPKTProvider.Properties.Settings>
    </applicationSettings>
</configuration>